/* body.dark-mode {
  background-color: rgb(1, 1, 27);
  color: white;
}
/* bannerimg.dark-mode{
  background-color: rgba(32, 32, 78, 0.685);
  color: white;
}

banner.dark-mode{
  background-color: rgba(32, 32, 78, 0.685);
  color: white;
} */ 

body.light {
  background-color: white;
  color:#1a202c;
}
body.dark {
  background-color: #1a202c;
  color: white;
  }
  
/* 
body.dark {
  --bg-color: #1a202c;
  --text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.sticky-navbar {
  background-color: var(--bg-color);
} */
